  <carousel>
    <slide>
      <img src="assets/wm1.jpg" alt="first slide" class="img-fluid" />
      <div class="carousel-caption d-none d-md-block">
        <h3>We repair and service home appliances</h3>
        <p>We repair and service washing machine, dish washer, electric oven, microwave, dryer, refrigerators, vacuum cleaner, air conditioner and other appliances</p>
      </div>
    </slide>
    <slide>
      <img src="assets/wh.jpeg" alt="second slide" class="img-fluid" height="400px" width="400px" />
      <div class="carousel-caption d-none d-md-block">
        <h3>We do pick up and delivery services</h3>
        <p>We pick up the machine from the customer's place for repair and deliver it back</p>
      </div>
    </slide>
    <slide>
      <img src="assets/electric2.jpg" alt="third slide" class="img-fluid" />
      <div class="carousel-caption d-none d-md-block">
        <h3>For different appliances </h3>
        <p>We deal with Bosch, LG, Samsung, Siemens, Whirlpool, Hitachi, Ariston, Bompani, Hotpoint, Candy and Hoover </p>
      </div>
    </slide>
    <slide>
      <img src="assets/lg2.jpg" alt="fourth slide" class="img-fluid" />
      <div class="carousel-caption d-none d-md-block">
        <h3>At affordable prices </h3>
        <p>You don't have to pay much to repair your faulty appliance </p>
      </div>
    </slide>
    <slide>
      <img src="assets/sam.jpeg" alt="fifth slide" class="img-fluid" />
      <div class="carousel-caption d-none d-md-block">
        <h3>We are reliable </h3>
        <p>You can trust us with your appliance </p>
      </div>
    </slide>
  </carousel>
